//=================//
//===// Fonts //===//
//=================//

$font: (
  'txt': (
    Arial,
    sans-serif,
  ),
  'txt-accent': (
    serif,
  ),
);

//==================//
//===// Colors //===//
//==================//

$color: (
  'txt': #ffffff,
  'bg': #5f5d89,
  'bg-accent': #716da1,
);

//===================//
//===// Timings //===//
//===================//

$time: (
  /*0.4s*/ 'transition-static': 0.4s,
  /*.75s*/ 'transition-time': 0.75s,
  /*0.4s*/ 'popup-time': 0.4s,
  /*0.4s*/ 'btn-anim-time': 0.4s
);

//======================================//
//===// Exporting variables for js //===//
//======================================//

:root {
  --transition-static: #{time(transition-static)};
  --transition-time: #{time(transition-time)};
  --popup-time: #{time(popup-time)};
  --btn-anim-time: #{time(btn-anim-time)};
}
